/* ---------------------------
          defauld values

font:Ubuntu, Pacifico(only logo), sans-serif
color:
Imperial : #222f3e;
Green  : #1dd1d1;
light gray : #fbfbfb;
gray : #ccc;
---------------------------*/
/*--------------------------
         basic proberties
--------------------------*/

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  font-family: "Ubuntu", sans-serif;
}
li{
  list-style: none;
  display: inline-block;

}

li:hover{
  color: #222f3e;
}

a{
  text-decoration: none;
}
.container{
  max-width: 1400px;
  background-color: #fff;
  margin: 0 auto;
}

/*--------------------------
         Header proberties
--------------------------*/
body{
  background-color: #fbfbfb;
}

.page-header{
  background-color: #222f3e;
  color: #fff;
  font-family: "Pacifico",cursive;
  padding-left: 5rem;
}

.page-header span{
  color: #1dd1d1;
  margin-left: 0.5rem;
}

.nav-menu{
  text-align: left;
  padding: 2rem 8rem  ;
}

.nav-menu a{
  padding: 0 1rem;
  color: #ccc;
  font-family: "Ubuntu";
  text-transform: uppercase;
  font-size: 1.25rem;
}

.header-image{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.header-image h2{
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: 300;
}

.header-image p{
  padding: 2% 20%;
  text-align: center;
  line-height: 2;
}
